*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #308bf2;
    user-select: none;
    height: 98vh;
    width: 100%;
}
.outer-container{
    width: 50%;
    height: 98%;
    background-color: #0F1115;
    padding:20px;
    margin: 1% auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    display: inline-block;
    margin: 10px;
    padding: 10px 30px;
    background-color: #0F1115;
    color: whitesmoke;
    text-decoration: double underline rgb(204, 222, 229) 1px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 30px;
}
.inner-container{
    width: 450px;
    height: 650px;
    border: 4px solid #333;
    background-color: #1E242B
    ;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    place-content: center;
}
.screen{
    background-color: #2A2F36;
    color: #E6EDF3;
    border: 4px solid #333;
    font-family: monospace;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    width: 90%;
    height: 15vh;
    margin: 5% auto;
    padding: 15px;
    margin-bottom: 0;
    border-radius: 5px;
    place-content: center;
}
.numberpad{
    background-color: #2F343D;
    width: 90%;
    height: 70vh;
    border: 4px solid #333;
    margin: 4% auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4,85px);
    grid-auto-rows: 85px;
    place-content: center;
    gap: 6px;
}
.keys{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.keys button{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover,
button:active{
    cursor :pointer;
    width: 78px;
    height: 78px;
    background-color: #aab1bd;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 3 ease 1;
}
.operator button{
    font-family: monospace;
    font-size: 30px;
    background-color: hsl(210, 86%, 65%);
    color: #0B1F22;
}
div .special button{
    background-color: hsl(225, 80%, 46%);
}
.equal button{
    background-color: hsl(225, 80%, 46%);
}